<html>
	<body>
		<form action="/produtos/salva" method="post">
			<div>
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="coloque um titulo"/>
			</div>

			<div>
			<label for="preco">Preco</label>
			<input type="text" id="preco" name="preco" placeholder="coloque um preco"/>
			</div>
			<div>
			<label for="descricao">Descricao</label>
			<textarea cols="10" rows="10" type="text" id="descricao" name="descricao" placeholder="coloque uma descricao"></textarea>
			</div>
			<input type="submit" value="gravar"/>
		</form>

	</body>
</html>
